<!DOCTYPE html>
<html lang="en">

<head>
    <title>LIT Reviews - Flux</title>
    {% include "_components/head.html" %}
</head>

<body class="bg-dark-100 text-light font-body">
    <div class="max-w-5xl ml-auto mr-auto">
        {% include "_components/nav_bar.html" %}

        <section class="mt-24 max-w-3xl ml-auto mr-auto">
            <div class="flex justify-between space-x-4">
                <a href="/posts/create"
                    class="bg-layer w-full border border-layer rounded focus:ring-0 p-5 font-bold text-center">Create a
                    Review</a>
                <a href="/posts/request"
                    class="bg-layer w-full border border-layer rounded focus:ring-0 p-5 font-bold text-center">Request a
                    Review</a>
            </div>

            <section>
                {% for post in posts|dictsortreversed:"time_created" %}
                {% include "_components/post.html" %}
                {% endfor %}
            </section>
        </section>
    </div>
</body>

</html>