<!DOCTYPE html>
<html lang="en">

<head>
    <title>LIT Reviews - Flux</title>
    {% include "_components/head.html" %}
</head>

<body class="bg-dark-100 text-light font-body">
    <div class="max-w-5xl ml-auto mr-auto">
        {% include "_components/nav_bar.html" %}

        <section class="mt-24 max-w-3xl ml-auto mr-auto">
            <div class="flex justify-between space-x-4">
                <a href="/posts/reply/none"
                    class="bg-layer w-full border border-layer rounded focus:ring-0 p-5 font-bold text-center">Create a
                    Review</a>
                <a href="/posts/create"
                    class="bg-layer w-full border border-layer rounded focus:ring-0 p-5 font-bold text-center">Request a
                    Review</a>
            </div>

            <section class="space-y-4 mt-12">
                {% for post in posts|dictsortreversed:"time_created" %}
                {% include "_components/post.html" %}
                {% endfor %}

                {% if not posts %}
                <div
                    class="flex mt-12 bg-layer text-light flex-col p-3 rounded justify-center items-center space-x-3 h-64">
                    <div class="icon">
                        <svg width="64" height="64" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="stroke-current"
                                d="M24 31L21 26L28 20L19 15L20 9.19942C18.4999 8.43256 16.8004 8 15 8C8.92487 8 4 12.9249 4 19C4 30 17 40 24 42C31 40 44 30 44 19C44 12.9249 39.0751 8 33 8C31.1996 8 29.5001 8.43256 28 9.19942"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h3 class="text-xl">No posts found</h3>
                </div>
                {% endif %}
            </section>
        </section>
    </div>
</body>

</html>