{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>LIT Reviews - Follows</title>
    {% include "_components/head.html" %}
</head>

<body class="bg-dark-100 text-light font-body">
    <div class="max-w-5xl ml-auto mr-auto">
        {% include "_components/nav_bar.html" %}

        <section>
            <form method="post" action="." class="mt-24 max-w-3xl ml-auto mr-auto space-y-2">
                {% csrf_token %}
                <h3 class="text-xl font-bold">Follow a User</h3>
                <div class="flex space-x-2 justify-center">
                    <div class="flex input content-center bg-dark-200 rounded p-3 flex-1">
                        <input name="follow" class="bg-dark-200 border-0 focus:ring-0 w-full p-0"
                            placeholder="User to follow..." type="text">
                    </div>

                    <div
                        class="flex input content-center bg-primary cursor-pointer rounded p-3 hover:opacity-95 active:opacity-90">
                        <button class="bg-primary border-0 focus:ring-0 w-full p-0 font-bold text-left"
                            type="submit">Follow</button>

                        <div class="pl-3 text-light">
                            <svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="stroke-current"
                                    d="M19 20C22.866 20 26 16.866 26 13C26 9.13401 22.866 6 19 6C15.134 6 12 9.13401 12 13C12 16.866 15.134 20 19 20Z"
                                    stroke="#495592" stroke-width="3" stroke-linejoin="round" />
                                <path class="stroke-current" fill-rule="evenodd" clip-rule="evenodd" d="M36 29V41V29Z"
                                    fill="#70c5c5" />
                                <path class="stroke-current" fill-rule="evenodd" clip-rule="evenodd" d="M30 35H42H30Z"
                                    fill="#70c5c5" />
                                <path class="stroke-current" d="M36 29V41M30 35H42" stroke="#495592" stroke-width="3"
                                    stroke-linecap="butt" stroke-linejoin="round" />
                                <path class="stroke-current"
                                    d="M27 28H18.8C14.3196 28 12.0794 28 10.3681 28.8719C8.86278 29.6389 7.63893 30.8628 6.87195 32.3681C6 34.0794 6 36.3196 6 40.8V42H27"
                                    stroke="#495592" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="px-2 h-4">
                    {% if error %}
                    <div class="py-1">
                        <p style="color: rgb(230, 73, 73)">{{ error }}</p>
                    </div>
                    {% endif %}
                </div>
            </form>

            <section class="mt-24 max-w-3xl ml-auto mr-auto space-y-2">
                <h3 class="text-xl font-bold">Followers</h3>
                {% for username in followers %}
                <form method="post" action="." class="flex space-x-2 justify-center">
                    <div class="flex input content-center bg-dark-200 rounded p-3 flex-1">
                        <h4>{{username}}</h4>
                    </div>

                    {% if not username in following %}
                    <div
                        class="flex input content-center bg-layer cursor-pointer rounded p-3 hover:opacity-95 active:opacity-90">
                        {% csrf_token %}
                        <input class="hidden" name="follow_back" value="{{username}}" type="text">

                        <button class=" border-0 focus:ring-0 w-full p-0 font-bold text-left" type="submit">Follow
                            Back</button>

                        <div class="pl-3 text-light">
                            <svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="stroke-current" d="M24.0607 10L24.024 38" stroke="#495592" stroke-width="3"
                                    stroke-linecap="butt" stroke-linejoin="round" />
                                <path class="stroke-current" d="M10 24L38 24" stroke="#495592" stroke-width="3"
                                    stroke-linecap="butt" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    {% endif %}
                </form>
                {% endfor %}

                {% if not followers %}
                <div
                    class="flex mt-12 bg-layer text-light flex-col p-3 rounded justify-center items-center space-x-3 h-32">
                    <div class="icon">
                        <svg width="64" height="64" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="stroke-current"
                                d="M24 31L21 26L28 20L19 15L20 9.19942C18.4999 8.43256 16.8004 8 15 8C8.92487 8 4 12.9249 4 19C4 30 17 40 24 42C31 40 44 30 44 19C44 12.9249 39.0751 8 33 8C31.1996 8 29.5001 8.43256 28 9.19942"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <!-- <h3 class="text-xl">Nothing to see here</h3> -->
                </div>
                {% endif %}
            </section>

            <section class="mt-24 max-w-3xl ml-auto mr-auto space-y-2">
                <h3 class="text-xl font-bold">Following</h3>
                {% for username in following %}
                <form method="post" action="." class="flex space-x-2 justify-center">
                    <div class="flex input content-center bg-dark-200 rounded p-3 flex-1">
                        <h4>{{username}}</h4>
                    </div>

                    <div
                        class="flex input content-center bg-layer cursor-pointer rounded p-3 hover:opacity-95 active:opacity-90">
                        {% csrf_token %}

                        <input class="hidden" name="un_follow" value="{{username}}" type="text">
                        <button class=" border-0 focus:ring-0 w-full p-0 font-bold text-left" type="submit">
                            Un Follow
                        </button>

                        <div class="pl-3 text-light">
                            <svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="stroke-current"
                                    d="M19 20C22.866 20 26 16.866 26 13C26 9.13401 22.866 6 19 6C15.134 6 12 9.13401 12 13C12 16.866 15.134 20 19 20Z"
                                    stroke="#495592" stroke-width="3" stroke-linejoin="round" />
                                <path class="stroke-current" d="M33 31L41 39" stroke="#495592" stroke-width="3"
                                    stroke-linecap="butt" stroke-linejoin="round" />
                                <path class="stroke-current" d="M33 39L41 31" stroke="#495592" stroke-width="3"
                                    stroke-linecap="butt" stroke-linejoin="round" />
                                <path class="stroke-current"
                                    d="M27 28H18.8C14.3196 28 12.0794 28 10.3681 28.8719C8.86278 29.6389 7.63893 30.8628 6.87195 32.3681C6 34.0794 6 36.3196 6 40.8V42H27"
                                    stroke="#495592" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </form>
                {% endfor %}

                {% if not following %}
                <div
                    class="flex mt-12 bg-layer text-light flex-col p-3 rounded justify-center items-center space-x-3 h-32">
                    <div class="icon">
                        <svg width="64" height="64" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="stroke-current"
                                d="M24 31L21 26L28 20L19 15L20 9.19942C18.4999 8.43256 16.8004 8 15 8C8.92487 8 4 12.9249 4 19C4 30 17 40 24 42C31 40 44 30 44 19C44 12.9249 39.0751 8 33 8C31.1996 8 29.5001 8.43256 28 9.19942"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <!-- <h3 class="text-xl">Nothing to see here</h3> -->
                </div>
                {% endif %}
            </section>
        </section>
    </div>

    {% include "_components/footer.html" %}
</body>

</html>