{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>LIT Reviews - Follows</title>
    {% include "_components/head.html" %}
</head>

<body class="bg-dark-100 text-light font-body">
    <div class="max-w-5xl ml-auto mr-auto">
        {% include "_components/nav_bar.html" %}


        <section>
            <section class="mt-24 max-w-3xl ml-auto mr-auto space-y-2">
                <h3 class="text-xl font-bold">Follow a User</h3>
                <div class="flex space-x-2 justify-center">
                    <div class="flex input content-center bg-dark-200 rounded p-3 flex-1">
                        <input class="bg-dark-200 border-0 focus:ring-0 w-full p-0" placeholder="User to follow..."
                            type="text">
                    </div>

                    <div
                        class="flex input content-center bg-primary cursor-pointer rounded p-3 hover:opacity-95 active:opacity-90">
                        <button class="bg-primary border-0 focus:ring-0 w-full p-0 font-bold text-left"
                            type="submit">Follow</button>

                        <div class="pl-3 text-light">
                            <svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="stroke-current"
                                    d="M19 20C22.866 20 26 16.866 26 13C26 9.13401 22.866 6 19 6C15.134 6 12 9.13401 12 13C12 16.866 15.134 20 19 20Z"
                                    stroke="#495592" stroke-width="3" stroke-linejoin="round" />
                                <path class="stroke-current" fill-rule="evenodd" clip-rule="evenodd" d="M36 29V41V29Z"
                                    fill="#70c5c5" />
                                <path class="stroke-current" fill-rule="evenodd" clip-rule="evenodd" d="M30 35H42H30Z"
                                    fill="#70c5c5" />
                                <path class="stroke-current" d="M36 29V41M30 35H42" stroke="#495592" stroke-width="3"
                                    stroke-linecap="butt" stroke-linejoin="round" />
                                <path class="stroke-current"
                                    d="M27 28H18.8C14.3196 28 12.0794 28 10.3681 28.8719C8.86278 29.6389 7.63893 30.8628 6.87195 32.3681C6 34.0794 6 36.3196 6 40.8V42H27"
                                    stroke="#495592" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mt-24 max-w-3xl ml-auto mr-auto space-y-2">
                <h3 class="text-xl font-bold">Followers</h3>
                <div class="flex space-x-2 justify-center">
                    <div class="flex input content-center bg-dark-200 rounded p-3 flex-1">
                        <h4>Toukara</h4>
                    </div>

                    <div
                        class="flex input content-center bg-layer cursor-pointer rounded p-3 hover:opacity-95 active:opacity-90">
                        <button class=" border-0 focus:ring-0 w-full p-0 font-bold text-left" type="submit">Follow
                            Back</button>

                        <div class="pl-3 text-light">
                            <svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="stroke-current" d="M24.0607 10L24.024 38" stroke="#495592" stroke-width="3"
                                    stroke-linecap="butt" stroke-linejoin="round" />
                                <path class="stroke-current" d="M10 24L38 24" stroke="#495592" stroke-width="3"
                                    stroke-linecap="butt" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mt-24 max-w-3xl ml-auto mr-auto space-y-2">
                <h3 class="text-xl font-bold">Following</h3>
                <div class="flex space-x-2 justify-center">
                    <div class="flex input content-center bg-dark-200 rounded p-3 flex-1">
                        <h4>AYAYA80</h4>
                    </div>

                    <div
                        class="flex input content-center bg-layer cursor-pointer rounded p-3 hover:opacity-95 active:opacity-90">
                        <button class=" border-0 focus:ring-0 w-full p-0 font-bold text-left" type="submit">
                            Un Follow
                        </button>

                        <div class="pl-3 text-light">
                            <svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="stroke-current"
                                    d="M19 20C22.866 20 26 16.866 26 13C26 9.13401 22.866 6 19 6C15.134 6 12 9.13401 12 13C12 16.866 15.134 20 19 20Z"
                                    stroke="#495592" stroke-width="3" stroke-linejoin="round" />
                                <path class="stroke-current" d="M33 31L41 39" stroke="#495592" stroke-width="3"
                                    stroke-linecap="butt" stroke-linejoin="round" />
                                <path class="stroke-current" d="M33 39L41 31" stroke="#495592" stroke-width="3"
                                    stroke-linecap="butt" stroke-linejoin="round" />
                                <path class="stroke-current"
                                    d="M27 28H18.8C14.3196 28 12.0794 28 10.3681 28.8719C8.86278 29.6389 7.63893 30.8628 6.87195 32.3681C6 34.0794 6 36.3196 6 40.8V42H27"
                                    stroke="#495592" stroke-width="3" stroke-linecap="butt" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</body>

</html>