{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>LIT Reviews - Register</title>
    {% include "_components/head.html" %}
    {% load static %}
</head>

<body class="bg-dark-100 font-body">
    <div class="max-w-5xl ml-auto mr-auto">
        <nav class="flex justify-between content-center">
            <a href="/">
                {% load static %}
                <img class="h-24 w-auto" src="{% static 'LITReviews.svg' %}" alt="L.R">
            </a>
        </nav>

        <main class="max-w-lg mt-24 ml-auto mr-auto text-left">
            <section class="text-light text-center mt-12">
                <h1 class="text-4xl font-bold">Create your account</h1>
            </section>

            <form autocomplete="off" method="POST" action="/acc/register/" enctype="multipart/form-data"
                class="text-light text-center flex justify-between mt-12">
                {% csrf_token %}

                <div class="flex flex-grow flex-col flex-100 space-y-6">
                    {% for field in form %}
                    <div class="space-y-1">
                        {% if field.name == "username" %}
                        <div class="flex content-center bg-dark-200 rounded p-3">
                            <input name="{{ field.name }}" class="bg-dark-200 border-0 focus:ring-0 w-full p-0"
                                placeholder="{{ field.label }}" type="text">

                            <div class="pl-3 text-dimm">
                                <svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle class="stroke-current" cx="24" cy="12" r="8" stroke="#333" stroke-width="4"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path class="stroke-current"
                                        d="M42 44C42 34.0589 33.9411 26 24 26C14.0589 26 6 34.0589 6 44" stroke="#333"
                                        stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>

                        {% elif field.name == "avatar"%}
                        <div class="flex items-center justify-between rounded">
                            <div class="w-16 h-16">
                                <img id="image" class="rounded w-16 h-16 object-cover"
                                    src="https://www.gravatar.com/avatar?s=200&d=mm" alt="no img" />
                            </div>

                            <button onclick="select_img()" type="button"
                                class="flex items-center bg-dark-200 rounded p-3">
                                <p>Upload Avatar</p>
                                <input id="avatar" type="file" name="{{ field.name }}" class="hidden">

                                <div class="pl-3 text-dimm">
                                    <svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path class="stroke-current"
                                            d="M11.6777 20.271C7.27476 21.3181 4 25.2766 4 30C4 35.5228 8.47715 40 14 40C14.9474 40 15.864 39.8683 16.7325 39.6221"
                                            stroke="#f36969" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path class="stroke-current"
                                            d="M36.0547 20.271C40.4577 21.3181 43.7324 25.2766 43.7324 30C43.7324 35.5228 39.2553 40 33.7324 40V40C32.785 40 31.8684 39.8683 30.9999 39.6221"
                                            stroke="#f36969" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path class="stroke-current"
                                            d="M36 20C36 13.3726 30.6274 8 24 8C17.3726 8 12 13.3726 12 20"
                                            stroke="#f36969" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path class="stroke-current" d="M17.0654 27.881L23.9999 20.9236L31.1318 28"
                                            stroke="#f36969" stroke-width="3" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path class="stroke-current" d="M24 38V24.4618" stroke="#f36969"
                                            stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        {% else %}
                        <div class="flex content-center bg-dark-200 rounded p-3">
                            <input name="{{ field.name }}" class="bg-dark-200 border-0 focus:ring-0 w-full p-0"
                                placeholder="{{ field.label }}" type="password">

                            <div class="pl-3 text-dimm">
                                <svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect class="stroke-current" x="7" y="22.0476" width="34" height="22" rx="2"
                                        fill="#333" stroke="#333" stroke-width="4" stroke-linejoin="round" />
                                    <path class="stroke-current"
                                        d="M14 22V14.0047C13.9948 8.87022 17.9227 4.56718 23.0859 4.05117C28.249 3.53516 32.9673 6.97408 34 12.0059"
                                        stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                                    <path class="stroke-current" d="M24 30V36" stroke="#FFF" stroke-width="4"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                        {% endif %}

                        <div class="px-2 text-left">
                            {% for error in field.errors %}
                            <div class="py-1">
                                <p style="color: rgb(230, 73, 73)">{{ error }}</p>
                            </div>
                            {% endfor %}

                            {% if field.help_text %}
                            <small class="text-dimm my-0">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                    <div
                        class="flex content-center bg-primary cursor-pointer rounded p-3 hover:opacity-95 active:opacity-90">
                        <button class="bg-primary border-0 focus:ring-0 w-full p-0 text-left font-bold"
                            type="submit">Sign Up</button>

                        <div class="pl-3 text-light">
                            <svg width="24" height="24" viewBox="0 0 48 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="48" height="48" />
                                <path class="stroke-current" d="M41.9999 24H5.99992" stroke="#333" stroke-width="4"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path class="stroke-current" d="M30 12L42 24L30 36" stroke="#333" stroke-width="4"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
            </form>
        </main>
    </div>

    {% include "_components/footer.html" %}


    <script>
        function select_img() {
            let input = document.getElementById("avatar");
            input.addEventListener('change', function (e) {
                let file = e.target.files[0];

                let image = document.getElementById('image');
                image.src = URL.createObjectURL(file);
            });

            input.click();
        }
    </script>
</body>

</html>