{% load tailwind_tags %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<script src="https://kit.fontawesome.com/6a3a505936.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap"
    rel="stylesheet" />

{% tailwind_css %}

<style>
    #__bs_notify__ {
        display: none !important;
    }

    .bg-gray-1000 {
        background-color: #171515;
    }
</style>